nav{
    width: 100vw;
    height: 7vh;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 5px;
    background-color: lightgrey;
}

nav a {
    font-style: none;
    font-size: 2rem;
    margin-left: 10px;
}

.heading {
    text-align: center;
}

.heading h1 {
    font-family: "Lucida Handwriting";
    color: blueviolet;
}